<div class="header-content">
  <h1 class="lower-text">青春タイムトリップ</h1>
  <p>青春時代まで巻き戻そう！</p>
</div>

  <div class="centered-form">
    <%= form_with url: songs_result_path, method: :post, local: true do |f| %>
      <%= f.number_field :year, placeholder: "例: 2001" %>
      <%= f.submit "青春を検索" %>
    <% end %>
  </div>
</div>
