.centered-content {
  text-align: center;
  margin-top: 50px; // 追加：センタリングのためのマージンを調整
}

.header-content {
  text-align: center;
  margin-top: -70px; /* この値は必要に応じて調整してください */
}

.centered-block {
  margin: 0 auto;
  display: block;
}

.centered-block.with-width {
  width: 60%;
  margin-left: 20%;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  /* グラデーション背景を追加 */
  background-image: linear-gradient(to bottom right, #00a8e8, #6ecf95); /* 青から緑へのグラデーション */
  
  padding: 20px;
  border-radius: 15px; /* 角を丸くする */
  width: 300px;
  margin: 0 auto; /* 中央寄せ */
  margin-top: 120px;

  /* ぼかし効果を強化 */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* ソフトな影を強化 */
}


.centered-form input[type="number"] {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a8e0b9; /* 緑色の境界線 */
  margin-bottom: 10px;
  font-size: 16px; /* 文字サイズの調整 */
}

.centered-form input[type="submit"] {
  background-color: #6ecf95; /* 緑色のボタン */
  color: white; /* 文字色を白に */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold; /* 太字にする */
  cursor: pointer; /* マウスカーソルを指マークに */
  transition: background-color 0.3s; /* クリックしたときのアニメーション */
}

.centered-form input[type="submit"]:hover {
  background-color: #5db07f; /* ホバー時の色 */
}

h1 {
  color: #00a8e8;
}

body {
  image-rendering: optimizeQuality; // 画質を最適化
  background-image: url(asset-path('aa.jpg')); /* 'your_image_filename.jpg' は使用する画像ファイルの名前に置き換えてください */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.outlined-text {
  -webkit-text-stroke-width: 2px; 
  -webkit-text-stroke-color: black; 
  color: transparent; // これにより、テキスト自体は非表示になり、ストロークだけが表示される
}

.lower-text {
  padding-top: 150px;
  text-shadow: -1px -1px 0 #FFFFFF,  
               1px -1px 0 #FFFFFF,
              -1px  1px 0 #FFFFFF,
               1px  1px 0 #FFFFFF;  /* 白色の外枠 */
  font-size: 5em;  /* フォントサイズを2倍にしてみます。必要に応じて調整 */
}

.centered-content.lower-text {
  margin-top: -75px;  /* 上方向に20px移動します。この値は必要に応じて調整してください */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* スライダー全体のスタイル */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s;
}

/* スライダーのホバー時のスタイル */
input[type="range"]:hover {
  background: #b3b3b3;
}

/* スライダーのハンドル (つまみ部分) のスタイル */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #00a8e8;  /* 青春の象徴として青色を使用 */
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: background-color 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #008cb7;
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #00a8e8;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: background-color 0.3s;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #008cb7;
}

/* 選択された部分のスタイル */
input[type="range"]::-moz-range-progress {
  background: #00a8e8;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #00a8e8;
}

.song-item {
  background-color: rgba(255, 255, 255, 0.7); // 半透明の背景
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.centered-content a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1DA1F2; // Twitterの色
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.centered-content a:hover {
  background-color: #0D8DEE; // ホバー時の色変更
}